* {
    box-sizing: border-box;
    margin: 0px; 
    padding: 0px; 
    font-family:'blue-screen2';
}


@font-face {
    font-family: blue-screen;
    src: url('blueScreenFont.ttf');
}

@font-face {
    font-family: blue-screen2;
    src: url('blueScreenFont2.ttf');
}


body{
    background-color: black;
    color: white; 
    font-family:'blue-screen2'; 
}


.front-page-container {
    background-color: black;
    color: white;
    min-width: 100vw;

}

.displayTime {
    margin-top: 30px; 
    margin-left: 30px; 
    font-size: 20px;
    font-weight: 100;
}

h2{
    margin-top: 30px; 
    margin-left: 30px; 
    font-size: 20px;
    font-weight: 100;
}