* {
    box-sizing: border-box;
    margin: 0px; 
    padding: 0px; 
    font-family:'blue-screen2';
}


@font-face {
    font-family: blue-screen;
    src: url('blueScreenFont.ttf');
}

@font-face {
    font-family: blue-screen2;
    src: url('blueScreenFont2.ttf');
}


body{
    background-color: black;
    color: white; 
    font-family:'blue-screen2'; 
}


.front-page-container {
    background-color: black;
    color: white;
    min-width: 100vw;

}

.displayTime {
    margin-top: 30px; 
    margin-left: 30px; 
    font-size: 20px;
    font-weight: 100;
}

h2{
    margin-top: 30px; 
    margin-left: 30px; 
    font-size: 20px;
    font-weight: 100;
}

.error {
    position: fixed;
    bottom: 0;
    height: 70px; 
    width: 100%; 
    margin-left: 30px;
}


.sys {
    display:flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 90%;
    margin-left: 30px;
}

.userLogin {
    margin-left: 20px;
    margin-top: 90px;
}

span {
    font-size: 30px;
}


input[type=text] {
    background-color: black;
    border: black;
    color: white;
    height: 60px;
    font-size: 20px;
    outline: none; 
  }


  #crt:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        to bottom,
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 100% 8px;
    z-index: 2;
    pointer-events: none;
}
